



<h2>In your waitlist at moment.</h2>
When book will arrive you will see "buy that" button here.</br>
<% @waitlists.each do |wait| %>
<p><%= wait.book.title %>
<%= wait.book.cost %>
<% if  wait.book.is_here == true %> 
<% UserMailer.subemail(@user).deliver_later %>

<%= link_to "Buy that !", book_path(:id=>wait.book.id), class: "btn btn-sm btn-size btn-info" %>
<% end %>
<%= link_to "Delete this waitlist entry", delete_waitlist_path(wait.id), method: :put, data: {confirm: 'Are you sure?'},class: "btn btn-sm btn-size btn-info" %></p>
<% end %>

