<%= form_for([@book, @book.comments.build]) do |f| %>
<p>
<%= f.label :body %><br>
<%= f.text_area :body %>
</p>

<%= hidden_field_tag 'comments[user_id]', nil, :value => '#{current_user.id}' %>

<p>
<button class="btn" data-toggle="modal" data-target="#myModal">Create comment</button>
</p>

<% end %>