<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">Welcome <%= @email %>!</h3>
      
    <div class="row text-center">
    <div class="col-sm-12">

 
     
        <div class="thumbnail">


<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
</div>
</div>
</div>
</div>