<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">Hello <%= @email %>!</h3>
      
    <div class="row text-center">
    <div class="col-sm-12">

 
     
        <div class="thumbnail">


<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
</div>
</div>
</div>
</div>
</div>
